/* App.css */

/* .tabs {
    display: flex;
    cursor: pointer;
  }
  
  .tab {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
  }
  
  
  
  .tab-content {
    margin-top: 20px;
  }
   */

   .tab.active {
    background-color: rgba(100, 148, 237, 0.896);
  }